</body>
<footer>
    <div class="container-footer">
        <div class="logo">
            <span class="cap">Your to do list awaits!</span>

            <h5>Designed by Matthew Hoepfl</h5>
        </div>
        <div class="nav">
            <a 
            <% if (page_name === 'index') { %>
                class="active"
            <% } %>
            href="/">Home</a>
            <a 
            <% if (page_name === 'create') { %>
                class="active"
            <% } %>
            href="/create">Create</a>
            </div>
        </div>
    </footer>
</html>
