</body>
<footer>
    <div class="container-footer">
        <div class="logo">
            <span class="cap">A</span><span class="little">stronomy</span>
            <span class="cap">P</span><span class="little">icture</span>
            <span class="cap">O</span><span class="little">f the</span>
            <span class="cap">D</span><span class="little">ay</span>
            <h5>Designed by Matthew Hoepfl</h5>
        </div>
        <div class="nav">
            <a 
            <% if (page_name === 'index') { %>
                class="active"
            <% } %>
            href="/">Home</a>
            <a 
            <% if (page_name === 'previous') { %>
                class="active"
            <% } %>
            href="/previous/1">Previous</a>
            </div>
        </div>
    </footer>
</html>
