<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<nav>
  <div class="container-nav">
    <div class="logo">
      APOD
    </div>
    <div class="topnav">
      <a 
      <% if (page_name === 'index') { %>
        class="active"
      <% } %>
      href="/">Home</a>
      <a 
      <% if (page_name === 'previous') { %>
        class="active"
      <% } %>
      href="/previous/1">Previous</a>
      </div>
  </div>
</nav>